<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# SQL Programming - Inner Joins

## 1.0 Lets connect to our Database

In [ ]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

In [ ]:
# Importing Pandas
import pandas as pd

## 1.1 Loading our Datasets

Datasets used in this notebook:


1.   **Countries**

> Dataset of European Countries. ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1Vz0URHRmUsG17fpzWa02RsCBI2TbPXeV/view?usp=sharing))

2.   **Cities** 

> Dataset of European Cities. ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1-S8sact6Ae-A06wntUmBBlr5NH43VLY0/view?usp=sharing))

In [ ]:
# Let's load our Countries dataset below
# 
with open('Countries.csv','r') as f:
    Countries = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS Countries;
%sql PERSIST Countries;
%sql SELECT * FROM Countries LIMIT 5;

In [ ]:
# Let's load our Cities dataset below
#
with open('Cities.csv','r') as f:
    Cities = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS Cities;
%sql PERSIST Cities;
%sql SELECT * FROM Cities LIMIT 5;

## 1.2 Getting Started

Let's try to learn from the given example below, then apply our learnings to the given challenges using the **`INNER JOIN`** statement;

In [ ]:
# Example 1 
# First let's look at the syntax code for the inner join statement
# 
# SELECT <Column names>
# FROM table1 INNER JOIN table2
# ON table1.column_name = table2.column_name
# 
# On the first line, we select the columns from which we want to join. This columns can be from both tables.
# On the second line, we explicitly declare the tables we are joining.
# on the third line, we give the search condition. Remember, for us to be able to do inner join or any type of join, there must be a column that is a match in both tables. 
# So the search condition simply tells SQL the column that is the same in both tables


# Let's find all the cities with latitude < 50 in a country with population < 5; 
# and return the city, country, and population, sorted by country
# 
%%sql
SELECT city, Cities.country, population
FROM Cities INNER JOIN Countries
     ON Cities.country = Countries.country
WHERE latitude < 50 AND population < 5
ORDER BY Cities.country

### <font color="green">1.2 Challenges</font>

In [ ]:
# Challenge 1
# Let's find a city with temperature > 10 that belongs to the EU and doesn't have a coastline, 
# returning the city, coastline and ordered by temperature
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# Let's find all cities with latitude > 45 in a country with no coastline and with population > 9,
# returning the city, country, latitude, and whether it's in the EU.
#
OUR CODE GOES HERE

In [ ]:
# Challenge 3
# Let's find the average temperature of non-european cities with a latitude > 45
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 4 
# Let's find minimum and maxiumum temperature of european cities with latitude > 45
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 5
# Let's find the number of european cities with a latitude > 45
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 6
# Which european cities belong to a country with a coastline?
# 
OUR CODE GOES HERE