<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# 1. SQL Programming - Text, Time and Date Strings

## 1.0 Connecting to our Database

In [ ]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

Datasets used in this notebook:


1.   **Main Lighting Energy Sources averaged to Districts in 2009**

> ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1XyZwH35bo99OZIAGHH8LMN48stLwyG-b/view?usp=sharing))

2.   **Kisumu County Energy and Mining Project Implementation Status** 

> ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1awhsX-tmd_RvM1PxPhhg21GTFuDn34ca/view?usp=sharing))

3. **Population by District**

>  ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1ZpbtJ-YAzfAtnQ4k-R_zpEbYRvP5lZhr/view?usp=sharing))

4. **Visitors to Kenya between 1991 to 2014**

>  ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1FJs1YU76tRyHEtHU6w62LYQlR8Jz_4d1/view?usp=sharing))

5. **Boston Marathon Results 2016**

>  ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1FKhXZemUZuwYSJydUDgukyqJt3ouvKGi/view?usp=sharing))

6. **Kenyan Government Appointments**

>  ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/19m7bydCYOyH8qb68S-Jn-dAX0TrjSHKh/view?usp=sharing))

7. **Tea Production**

>  ([Dataset Download Link](https://drive.google.com/open?id=1Nf3SfkLuxK8oWX2m_RAOILLrpY7pFDaF))

## 1.1 Loading our Datasets

In [ ]:
# Importing Pandas
import pandas as pd

In [ ]:
# Loading our lighting dataset  from the respective CSV file 
with open('','r') as f:
    LightingDataset = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS LightingDataset;
%sql PERSIST LightingDataset;
%sql SELECT * FROM LightingDataset LIMIT 5;

In [ ]:
# Loading our energy mining dataset from the respective CSV file 
OUR CODE GOES HERE (Complete this when you are about to use the dataset)

In [ ]:
# Loading our population by districtdataset from the respective CSV file
OUR CODE GOES HERE (Complete this when you are about to use the dataset)

In [ ]:
# Loading our visitors to kenya dataset from the respective CSV file
OUR CODE GOES HERE (Complete this when you are about to use the dataset)

In [ ]:
# Loading our marathon dataset from the respective CSV file
#
OUR CODE GOES HERE (Complete this when you are about to use the dataset)

In [ ]:
# Loading our Kenyan government appointments dataset below
#
OUR CODE GOES HERE (Complete this when you are about to use the dataset)

In [ ]:
# Loading our Tea dataset below
#
OUR CODE GOES HERE (Complete this when you are about to use the dataset)

## 1.2 Text Strings

In [ ]:
# Example 1
# Using the EnergyMining dataset, we can concatenate (combine) 
# the Ward and County columns (i.e attributes)
# into a new column Region. Then only select 5 of those regions
#
%%sql  
SELECT *, WARD || ', ' || COUNTY AS Region
FROM EnergyMining LIMIT 5;

In [ ]:
# Example 2
# Using the main lighting dataset, we can also replace the null cells with 0
# as shown below
# 
%%sql 
SELECT PROJECT_NAME, REPLACE("STATUS", '100 % Complete', '100%') AS "Project Status" 
FROM EnergyMining;

In [ ]:
# Example 3
# Using the Population by District dataset, we change values of County column to lowercase 
# as shown below
#
%%sql
SELECT *, LOWER(County) AS "County Name"
FROM PopulationByDistrict;

### <font color="green">1.2 Challenges</font>

In [ ]:
# Challenge 1
# Using the Governments appointments dataset, 
# in gender field, let's replace m = 1 and f = 0
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# Using the Governments appointments dataset, 
# Let's merge the person appointing field with the appointers position field
#
OUR CODE GOES HERE

In [ ]:
# Challenge 3
# Using the Population by District dataset, 
# let's change the values of the District column to lowercase 
# and display these values in a new column 
# 
OUR CODE GOES HERE

## 1.3 Time Strings

In [ ]:
# Example 1
# You can work with time data just like any other kind of data type 
# when it is in the time format; HH:MM:SS
# Let's answer some questions to see how this works
# Question: Which athletes took time between 15.30 and 15.59 to pass the 5K mark?
# NB: We order the results
#
%%sql 
SELECT Name, "5K" FROM MarathonResults 
WHERE "5K" > '0:15:30' and "5K" < '0:15:59' ORDER BY "5K" ASC;

In [ ]:
# Example 2
# Finding the minimum amount of time taken to cover 15K by an athlete during the marathon. 
# Hint: We use a where clause to ignore null/blank values - we will learn how to 
# deal with such values later in the course
# 
%%sql
SELECT MIN("5K") 
FROM MarathonResults 
WHERE "5K" > 0;

In [ ]:
# Example 3
# What was the average time covered by all athletes past the 10K mark?
# 
%%sql
SELECT time(AVG("10K")) 
FROM MarathonResults 
WHERE "10K" > 0;

### <font color="green">1.3 Challenges</font>

In [ ]:
# Challenge 1
# What were the names and time of the athletes who finished the marathon before 2hrs 15min official time?
# NB: Order your names by time in ascending order
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# Which countries came top 3 in completing the marathon before 2hrs 15min?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 3
# How many athletes ran 30K under 1hr 34min? Name these athletes.
# 
OUR CODE GOES HERE

## 1.4 Date Strings

In [ ]:
# Example 1
# At times we would like to work with the data that is stored in the form of dates
# However, this kind of data can be really difficult to work with if it is not stored
# in datetime Data Type i.e. YYYY-MM-DD HH:MM:SS. It can even be misleading while 
# performing operations to our data. 
# Thus, when we get a dataset such as the one previewed below we will note that the datetime data 
# within the "Date_End_of_Quater" column is not in the datetime Data Type. 
# We will need to fix this;
# 
%sql SELECT * FROM KenyanVisitors LIMIT 5;

In [ ]:
# Example 2
# In order to convert this kind of data to this format YYYY-MM-DD HH:MM:SS, 
# we would need to use the substring function. 
# An example of how the SQL substring function works is as shown in the SQL command
# in this cell;
# NB: Run this cell several times as you make changes to the numerial parameters 1, 6 
# and then observe the output after running this cell
#
%%sql
SELECT substr('SQL Tutorial', 1, 6) AS ExtractString;

In [ ]:
# Example 3
# Let's now select the "Date_End_of_Quater" data in the datetime data type format.
# We will apply the SQL substr function to the respective column
# then select the characters specifying our range then concatenating (combining)
# the selected substrings.
#  
%%sql
SELECT substr("Date_End_of_Quater", 7, 4) 
|| "-" || substr("Date_End_of_Quater", 4, 2) 
|| "-" || substr("Date_End_of_Quater", 1, 2) 
|| " " || substr("Date_End_of_Quater", 12,9)
AS New_Date_End_of_Quarter
FROM KenyanVisitors Limit 5;

In [ ]:
# Example 4
# Once we are certain that the selected data is in the datetime data type format,
# we can then update the table as shown; Remember we learnt how to update data 
# in our table last week? :) 
# This will allow us to start using that updated table for further investigation
# 
%%sql
UPDATE KenyanVisitors 
set "Date_End_of_Quater" = substr("Date_End_of_Quater", 7, 4) 
|| "-" || substr("Date_End_of_Quater", 4, 2) 
|| "-" || substr("Date_End_of_Quater", 1, 2) 
|| " " || substr("Date_End_of_Quater", 12,9)

In [ ]:
# Example 5
# We can preview our dataset below so as to note the changes we have made to our 
# "Date_End_of_Quater" column which now looks super :) 
# 
%%sql
SELECT * 
FROM KenyanVisitors Limit 5;

In [ ]:
# Example 6
# We now continue into investigating our dataset; We answer the following question;
# Which arrivals and depatures happened before 10th June, 1991?  
# Solution:
#
%%sql
SELECT * 
FROM KenyanVisitors 
WHERE "Date_End_of_Quater" < '1991-30-10';

In [ ]:
# Example 7
# Which arrivals and depatures happened after 30th June 2000?  
#
OUR CODE GOES HERE

### <font color="green">1.4 Challenges</font>

In [ ]:
# Challenge
# Using the tea_production dataset, which three dates had tea production 
# before the date with the most tea production?
#
OUR CODE GOES HERE