<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# SQL Programming - Subqueries using Select Statements

## 1.0 Connecting to our Database

In [ ]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

## 1.1 Loading Data from CSV Files

Datasets used in this notebook:


1.   **World Countries**

> ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1XlabneVWhvbmpRUi_Wix2FR5uYAAp-ZY/view?usp=sharing))

2.   **World Cities** 

> ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1R5952m-8hH91uiwDK8dcL9sT2D_PEcuw/view?usp=sharing))

In [ ]:
# Importing Pandas
import pandas as pd

In [ ]:
# Loading our Countries dataset
# 
OUR CODE GOES HERE

In [ ]:
# Loading our cities dataset 
# 
OUR CODE GOES HERE

## 1.2 Subqueries using the SELECT statement

A subquery is a query within another query. The outer query is called as main query and inner query is called as subquery. The subquery must be enclosed with parenthesis and generally executes first, and its output is used to complete the query condition for the main or outer query. We will go through examples of how subqueries can be used to answers different types of questions then later, we will use our learnings to work on the challenges.

In [ ]:
# Example 1
# Subqueries can occur in the select list of the containing query
# as shown below;
# Let's find all countries in the Countries table with no city in the Cities table
# 
%%sql
SELECT country
FROM Countries
WHERE NOT EXISTS (SELECT * FROM Cities
                  WHERE Cities.country = Countries.country)

In [ ]:
# Example 2
# Find the European countries with cities experiencing temperature > 20?
# 
%%sql
SELECT country
FROM Countries
WHERE EU = 'yes'
AND EXISTS (SELECT * FROM Cities
            WHERE Cities.country = Countries.country
            AND temperature > 15)

In [ ]:
# Example 3: Method 1
# Find the westernmost city, returning the city and longitude
# 
%%sql
SELECT city, longitude
FROM Cities C1
WHERE NOT EXISTS (SELECT * FROM Cities C2
                  WHERE C2.longitude < C1.longitude)

In [ ]:
# Example 3: Method 2
# Find the westernmost city, returning the city and longitude
# 
%%sql
SELECT city, longitude
FROM Cities
WHERE longitude = (SELECT min(longitude) FROM Cities)

In [ ]:
# Example 4:
# How many cities are in the EU?
# 
%%sql
SELECT count()
FROM Cities
WHERE country IN (SELECT country FROM Countries WHERE EU = 'yes')

### <font color="green">1.2 Challenges</font>

In [ ]:
# Challenge 1
# Find number of countries that have a city with latitude > 1000 (start with country list)
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# Find three western most cities returning both the cities and their longitude
#
OUR CODE GOES HERE

In [ ]:
# Challenge 3
# Find cities with temperature is more than 50% higher than the average; 
# We will return the city, country, and temperature, ordered by descending temperature
# Hint: avg(temperature) * 1.5
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 4
# How many cities are not in the EU and without a coastline?
# Hint: "not in"
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 5
# Find the number of countries with no coastline and a city with longitude < 10
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 6
# Find countries in Countries table with no city in Cities table
# 
COMPLETE THE CODE BELOW

%%sql
SELECT country
FROM Countries
WHERE NOT EXISTS (SELECT * FROM Cities )

In [ ]:
# Challenge 7
# Find all cities in a country whose population is < 2, returning the city and country.
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 8
# Find all countries with no city having a temperature > 6
# 
OUR CODE GOES HERE